
// variables

$lightBlue: #eafefc;
$darkYellow: #fce75c;
$lightYellow: #fdf383;
$darkBlue: #2b2a46;
$grey: #575757;
$offWhite: #f9f9f9;
$newGrey: #d4d4d4;


/*<!--general ruleszzzzz-->*/
html {
	font-size: 62.5%;  


}

.wrapper {
    max-width: 1180px;
	margin: 0 auto;
    width: 90%;
    // background: $offWhite;
    // position: relative;

}

img {
    max-width: 100%;

}

// body {
//     background: $offWhite;
// }

// fonts

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: $darkBlue;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: $darkBlue;
    margin: 0;
    text-align: center;
    // text-decoration-style: wavy;

}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: $darkBlue;
    margin: 0;
    text-align: center;
    padding-bottom: 2rem;

}

p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color:$grey;
    margin: 0;

}

// Squiggles

.squiggles {
    width: 13rem;
}

// Buttons

button {
    background: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color:$grey;
    padding: 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
    position: relative;
    z-index: 1;
    // outline: none;
    border: 2px solid $darkYellow;

}
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $lightYellow;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border-radius: 2rem;
    overflow: hidden;
    
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
    border-radius: 2rem;
    overflow: hidden;
  }


.buttons-container {
    text-align: center;
    padding-top: 2rem;
    position: relative;
}


