
// variables

$lightBlue: #eafefc;
$darkYellow: #fce75c;
$lightYellow: #fdf383;
$darkBlue: #2b2a46;
$grey: #575757;


/*<!--general ruleszzzzz-->*/
html {
	font-size: 62.5%;  


}

.wrapper {
    max-width: 980px;
	margin: 0 auto;
    width: 90%;
    // position: relative;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: $darkBlue;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: $darkBlue;
    margin: 0;
    text-align: center;
    // text-decoration-style: wavy;

}

p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color:$grey;
}

