
// variables

$lightBlue: #eafefc;
$darkYellow: #fce75c;
$lightYellow: #fdf383;
$darkBlue: #2b2a46;
$grey: #575757;
$offWhite: #f9f9f9;
$newGrey: #d4d4d4;


/*<!--general ruleszzzzz-->*/
html {
	font-size: 62.5%;  


}

.wrapper {
    max-width: 1180px;
	margin: 0 auto;
    width: 90%;

}

img {
    max-width: 100%;

}

// Site box shadow

.site-box {
    box-shadow: 0 0 15px black;
}


// fonts

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: $darkBlue;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: $darkBlue;
    margin: 0;
    text-align: center;

}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: $darkBlue;
    margin: 0;
    text-align: center;
    padding-bottom: 3rem;

}

p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color:$grey;
    margin: 0;
    letter-spacing: 1px;

}

a {
    color: inherit;
    text-decoration: none;
}

// Squiggles

.squiggles {
    width: 13rem;
}

// Buttons

button {
    background: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color:$grey;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    border: 3px solid $darkYellow;
    overflow: hidden;
    transition: color 0.4s ease-in-out;

}

.button-two {
    margin-left: 2rem;
}
  

// fill effect : https://cssfx.dev/
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    background-color: $darkYellow;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
    border-radius: 2rem;
    overflow: hidden;
    width: 3rem;
    height: 3rem;

    
  }
  
  
  button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
  }


.buttons-container {
    text-align: center;
    padding-top: 3rem;
    position: relative;
}


