.pieces-spin-image-responsive {
    display: none;
}

.boat-responsive {
    display: none;
}

.contact-wavy {
    display: none;
}

@media (max-width: 1020px) {

    p.contact-copy-right {
        padding-right: 1rem;
    }

    .buttons-container button {
        font-size: 1.75rem;
    }

    .button-two {
        margin-left: 1rem;
    }

    .contact-form-flex-top .contact-form-top {
        width: 41.5%;
    }

    .contact-form-bottom textarea {
        width: 80%;
    }
}

@media (max-width: 905px) {
    div.pieces-spin-image-responsive {
        display: block;
        padding-bottom: 5rem;
    }

    .pieces-spin-image {
        display: none;
    }

    div.boat-responsive {
        display: block;
        padding-bottom: 5rem;
    }

    .boat-regular {
        display: none;
    }

    div.gallery {
        display: block;
    }

    div.gallery .pieces {
        width: 100%;
        text-align: center;
        padding-top: 0;
        // padding
    }


    div.gallery .chuckin-pic {
        padding-top: 3rem;
    }

    .contact-wavy {
        display: block;
    }

    div.contact-top-copy {
        display: block;
    }

    h2.contact-copy-left {
        width: 100%;

    }

    p.contact-copy-right {
        width: 100%;
        padding-top: 4rem;
    }

    div.pieces {
        padding-top: 2rem;
    }

    div.pieces .buttons-container {
        padding-top: 5rem;
    }


    

}

@media (max-width: 768px) {
    section.hero-section {
        // height: 65vh;
    }

    .hero-copy h1 {
        font-size: 7rem;
    }

    div.wrapper .hero-copy{
        padding-bottom: 0;
    }

    div.hero-stuff {
        width: 60rem;
        height: 60rem;
    }

    .about-me-pic video {
        width: 15rem;
        height: 15rem;
        margin-left: 0;
        top: 7rem;
        left: 10%;
        // display: none;
    }

    .fa-times {
        padding-top: 1rem;
    }

    div.about-me-copy {
        padding-top: 5rem;
    }

    div.about-background {
        padding-top: 5rem;
    }

    .contact-form-flex-top .contact-form-top {
        width: 48.5%;
    }

    .contact-form-bottom textarea {
        width: 95%;
    }


}

@media (max-width: 680px) {
    div.hero-stuff {
        width: 50rem;
        height: 50rem;
    }

    .hero-copy h1 {
        font-size: 5rem;
    }

    ul li .nav-tinker {
        font-size: 1.5rem;

    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.8rem;
    }

    // trying to remove circles from icons here
    div.skills-icon i {
        background: none;
        border-radius: none;
    }

}


// @mixin ipad {
//     @media (max-width: 768px) {@content};
    
    
// }

// @mixin iphonePlus {
//     @media (max-width: 414px) {@content}; 
// }

// @mixin iphone678 {
//     @media (max-width: 375px) {@content}; 
// }

// @mixin iphone5 {
//     @media (max-width: 320px) {@content}; 
// }
