article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*<!--general ruleszzzzz-->*/
html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 100%;
}

.site-box {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  color: #2b2a46;
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  color: #2b2a46;
  margin: 0;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #2b2a46;
  margin: 0;
  text-align: center;
  padding-bottom: 2rem;
}

p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: #575757;
  margin: 0;
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

.squiggles {
  width: 13rem;
}

button {
  background: white;
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: #575757;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  border: 3px solid #fce75c;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.button-two {
  margin-left: 2rem;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  background-color: #fce75c;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  border-radius: 2rem;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
}

button:hover::before {
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.buttons-container {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}

.nav-scroll {
  background: white;
  height: 5rem;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-tinker {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #2b2a46;
  position: relative;
}

.nav-tinker::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fce75c;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-tinker:hover::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero-section {
  background: #fdf383c7;
  height: 70vh;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
}

.hero-stuff {
  background: #fce75c;
  text-align: center;
  width: 65rem;
  height: 65rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-copy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

ul {
  list-style: none;
}

li {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #2b2a46;
}

.about-me-pic {
  position: relative;
}

video {
  position: absolute;
  top: -10rem;
  left: 50%;
  margin-left: -12.5rem;
  width: 25rem;
  border-radius: 50%;
  border: 5px solid #fdf383c7;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 5%;
     object-position: 25% 5%;
}

.about-me-copy {
  padding-top: 20rem;
  color: #2b2a46;
}

.bio-copy {
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;
}

.about-background {
  background: #f9f9f9;
  padding: 2rem 0 6rem;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.about-background:hover {
  -webkit-box-shadow: 0 0 5px #2b2a46;
          box-shadow: 0 0 5px #2b2a46;
}

.work-section {
  padding-top: 5.5rem;
}

.work-background {
  background: #f9f9f9;
  padding: 2rem 0 6rem;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.work-background:hover {
  -webkit-box-shadow: 0 0 5px #2b2a46;
          box-shadow: 0 0 5px #2b2a46;
}

.wavy {
  color: #fce75c;
  padding-top: 3rem;
  text-align: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.pieces {
  width: 50%;
  margin: 0;
  padding: 5rem 3rem;
}

.work-piece {
  width: 50rem;
}

.pieces-spin-image {
  text-align: center;
  width: 50%;
}

.work-piece-spin {
  width: 35rem;
}

.pieces p {
  text-align: justify;
  padding-left: 1rem;
}

.armenia-link {
  color: #2b2a46;
}

.skills-section {
  padding-top: 5.5rem;
}

.skills-background {
  background: #f9f9f9;
  padding: 2.5rem 0 3.5rem;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.skills-background:hover {
  -webkit-box-shadow: 0 0 5px #2b2a46;
          box-shadow: 0 0 5px #2b2a46;
}

.skills-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0;
  margin: 0 auto;
}

.skills-icon {
  width: 33.33%;
  text-align: center;
  color: #575757;
  padding: 2.5rem;
  margin-top: 30px;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.circle {
  font-size: 5rem;
  border: 4px solid #fce75c;
  border-radius: 50%;
  margin: 0;
  padding: inherit;
  background: white;
}

.easter-egg {
  display: none;
}

.firebase {
  margin: 0;
}

.contact-section {
  padding: 5.5rem 0;
}

.contact-background {
  background: #f9f9f9;
  padding: 2rem 0 0;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.contact-background:hover {
  -webkit-box-shadow: 0 0 5px #2b2a46;
          box-shadow: 0 0 5px #2b2a46;
}

.contact-top-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-copy-left {
  width: 40%;
  margin: 0;
}

.contact-copy-right {
  width: 60%;
  margin: 0;
  text-align: center;
  padding-top: 1.5rem;
}

fieldset {
  padding: 2rem;
  border: transparent;
}

.contact-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-form-comment {
  padding: 2.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form-copy {
  padding: 1rem;
  width: 90%;
  margin-bottom: 2rem;
}

.contact-form-right {
  text-align: center;
  width: 60%;
}

.contact-form-left {
  width: 40%;
}

input, textarea {
  border-radius: 2rem;
  border: 3px solid #fce75c;
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: #2b2a46;
}

.email-address {
  color: #2b2a46;
  font-weight: bold;
}

footer {
  background: white;
  text-align: center;
}
